{{#each messages as |message|}}
  {{#if (isNewDay @index)}}
    <div class="w-100 text-center">
      {{convertToDate message.time}}
    </div>
  {{/if}}
  {{#if (isSendMessage message.senderID)}}
    <div class="w-100 d-flex justify-content-end pb-3">
      <div
        class="sendMessage rounded-4 bg-primary pt-1 ps-2 pb-1 pe-2 me-3"
        id="{{message.messageID}}"
      >
        <span class="message">{{message.message}}</span>
        <div class="pt-2 pb-2 pe-2 d-flex justify-content-between">
          <div class="deleteMessage">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="#ff3f4e"
              class="bi bi-trash3-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"
              />
            </svg>
          </div>
          <div>
            {{convertTo12HourTime message.time}}
          </div></div>
      </div>
    </div>
  {{else}}
    {{#if icon}}
      <div
        onclick="window.open('http://127.0.0.1:5500/pages/profile.html?username={{username}}', '_self');"
        role="button"
      >
        <img
          src="{{message.icon}}"
          alt=""
          width="40"
          height="40"
          class="rounded rounded-circle ms-3 mb-1"
        />
        <span>{{message.displayName}}</span>
      </div>
    {{/if}}
    <div class="w-100 d-flex justify-content-start pb-3">
      <div class="recieveMessage rounded-4 bg-dark pt-1 ps-2 pb-1 pe-2 ms-3">
        <span class="message">{{message.message}}</span>
        <div
          class="pt-2 pb-2 pe-2 text-end w-100 time-text"
        >{{convertTo12HourTime message.time}}</div>
      </div>
    </div>
  {{/if}}
{{/each}}