<div class="modal-dialog modal-dialog-centered modal-fullscreen"></div>
<div class="modal-content bg-black text-white glassmorph">
    <div class="modal-header d-flex flex-column p-0  position-relative pb-4">
        <h5 class="modal-title pt-3">{{username}}'s post</h5>
        <button type="button" class="bg-transparent border-0 position-absolute end-0 pt-3 pe-3" data-bs-dismiss="modal"
            aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-x-lg"
                viewBox="0 0 16 16">
                <path
                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
                    stroke="white" stroke-width="1.5" />
            </svg>
        </button>
    </div>
    <div class="modal-body d-flex w-100 flex-row m-0 p-0">
        <div class="ms-3 d-flex justify-content-center border-end" id="postContainer">
            <div class="d-flex align-items-center justify-content-center pe-3 position-relative">
                {{#if isVideo}}
                <video controls class="border-1 border user-select-none content">
                    <source src="{{postLink}}" />
                </video>
                {{else}}
                <img src="{{postLink}}" class="border-1 border user-select-none content" />
                {{/if}}
            </div>
        </div>
        <div id="postInformationContainer" class="d-flex flex-column w-100 mt-3 ms-3 me-3">
            <div class="d-flex flex-row gap-2 ms-3">
                <img src="https://i.pinimg.com/originals/98/1d/6b/981d6b2e0ccb5e968a0618c8d47671da.jpg"
                    alt="e's Profile Icon" width="50" height="50" class="rounded-5" />
                <div class="mb-1">
                    <span><strong class="username">{{username}}</strong></span>
                    <div class="comment">{{description}}</div>
                </div>
            </div>
            <hr class="w-100 border-white border-2" />
            <div class="d-flex flex-column gap-4" id="comments">
            </div>
        </div>
    </div>
</div>
</div>